<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diwali Wisher</title>
    <style>
        body{
            /* background-image:url('https://www.trueshayari.in/wp-content/uploads/2018/10/Diwali-Diya-GIF.gif'); */
            background-image:url('https://i.gifer.com/XwSj.gif');
            background-repeat: no-repeat;
            background-size: cover;
        }
        #seconddiv{
            background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px ;
            width: 600px;
            float: none;
            margin-top: 300px;
            margin-left: 350px;
            margin-right: 200px;
            margin-bottom: 100px;
            /* align-items: center; */
        }
        /* #firstdiv{
            background-image: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px ;
            width: 300px;
            float: none;
            margin-top:200px;
            align-items: center;
        } */
        #submit{
         
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
        #name{
            /* background-color:white;  */
  border: none;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 89%;
        }
        label{
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
            font-style: italic;
            padding: 15px 32px;
            /* margin: 10px; */
        }
    </style>
</head>
<body>
    <form action="/login" method="get">
        <div id="seconddiv">
        <center>
            <label id="second">To wish your loved ones happy diwali, please enter your name below and make your loved ones happy.</label> <br><br>
        <input type="text" name="name" placeholder="name" id="name" required> <br> <br> <br>
        <button id="submit" type="submit">let me in</button>
    </center>
    </div>
    </form>
</body>
</html>